.companions {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;

  background-color: @dark-blue--text;
  border-radius: 0 0 20px 20px;

  box-sizing: border-box;
}

.companions__title {
  margin: 0;
  padding-left: 25px;
  padding-right: 35px;

  .h2-title;
  .margin-text;
}

.companions__text {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 35px;

  color: white;
  .text-light;
  .margin-text;
}

.companions__text--bold {
  .text-bold;
  margin-bottom: 60px;
}

.companions__list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.companions__item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 10px;

  background-color: white;
  border-radius: 15px;
}

.companions__img {
  border-radius: 15px 15px 0 0;
}

.companions__item-title {
  margin: 25px 65px 15px;
  color: @dark-slate-blue;
  .h3-title;
  text-align: center;
}

.companions__item-tags {
  margin: 0;
  padding: 0 45px 15px;
  color: @dark-gray;
  text-align: center;
}

.companions__item-transport {
  align-self: center;
  margin-bottom: 20px;
}

.companions__show-all {
  margin: 5px 0 30px;
}
