.main-nav {
  position: relative;
}

.main-nav__toggle {
  width: 25px;
  height: 10px;
  font-size: 0;

  background-color: @dark-blue;
  background-image: url("../img/menu-white.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.main-nav__wrapper {
  position: absolute;
  top: 54px;
  left: -270px;

  display: block;
  width: 320px;

  background-color: white;
}
