.map__wrapper {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;

  background-color: @yellow;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
}

.map__adress {
  margin: 35px 0;
  padding: 0 60px;
  .text-bold;
  text-transform: uppercase;
}

.map__make-route {
  margin-bottom: 35px;
  border: 3px solid @dark-blue--text;
}
