.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 320px;
  padding-top: 27px;
  padding-bottom: 31px;
  background-color: @dark-blue;
  box-sizing: border-box;
}
