.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 35px;

  background-color: white;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
}

.page-footer__logo {
  margin-bottom: 40px;
}

.page-footer__social {
  padding-bottom: 35px;
}

.copyright__text {
  color: @dark-gray;
  .text-light;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 270px;
  padding-top: 15px;

  border-top: 1px solid #e1e3e9;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 768px;
    padding: 45px 40px;

    border-radius: 55px 55px 0 0;
  }

  .page-footer__logo {
    width: 255px;
    margin-bottom: 0;
  }

  .page-footer__social {
    width: 255px;
    padding-bottom: 0;
  }

  .copyright__text {
    color: @dark-gray;
    font-size: 20px;
    line-height: 24px;
    margin-right: 25px;
  }

  .page-footer__copyright {
    justify-content: flex-end;

    width: 255px;
    padding-top: 0;

    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1440px;
    padding: 45px 60px;
  }
}
