// .site-list {
//
// }

.site-list__link {
  color: @dark-blue--text;
  font-size: 30px;
  line-height: 36px;
  font-style: medium;
  text-align: center;

  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .site-list__link {
    font-size: 60px;
    line-height: 71px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    margin-right: 35px;

    color: white;
    font-size: 20px;
    line-height: 30px;
  }
}
